{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}
  <div class="content-area">
    <div class="container">
      <div class="content-area__inner">
        <ul class="mobile-content-menu">
          <li class="mobile-content-menu__item"><a class="mobile-content-menu__link" href="#">White paper</a></li>
          <li class="mobile-content-menu__item"><a class="mobile-content-menu__link" href="#">One pager</a></li>
          <li class="mobile-content-menu__item"><a class="mobile-content-menu__link" href="#">Teaser</a></li>
        </ul>
        <h1 class="content-area__title fw-fz-20 fw-text-left fw-fz-29@m">
          DateCoin - первый в мире дейтинг-сервис с применением технологий нейронных сетей и интеллектуальных алгоритмов
          на базе работающей бизнес-модели с понятной системой обратного выкупа на Blockchain.
        </h1>
        <form class="form">
          <div class="form-title fw-fz-20 fw-mb-15 fw-visible@m">Оставьте свой e-mail, чтобы быть в курсе событий</div>
          <div class="form-title fw-fz-17 fw-mb-15 fw-visible@xs fw-hidden@m fw-text-center">Будьте в курсе событий
          </div>
          <div class="form__field">
            <input type="text" class="form-input" placeholder="Укажите e-mail">
            <button class="form-button button button-blue">Подписаться</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}