<footer class="footer">
  <div class="container">
    <div class="footer-social">
      <a href="#" class="footer-social__link">
        <i class="icon-telegram"></i>
      </a>
      <a href="#" class="footer-social__link">
        <i class="icon-facebook"></i>
      </a>
      <a href="#" class="footer-social__link">
        <i class="icon-twitter"></i>
      </a>
      <a href="#" class="footer-social__link">
        <i class="icon-github"></i>
      </a>
      <a href="#" class="footer-social__link">
        <i class="icon-slack"></i>
      </a>
      <a href="#" class="footer-social__link">
        <i class="icon-reddit"></i>
      </a>
      <a href="#" class="footer-social__link js-open-popup" data-popup-target="coming_soon">
        <i class="icon-medium"></i>
      </a>
      <a href="#" class="footer-social__link">
        <i class="icon-bitcoin"></i>
      </a>
    </div>
    <div class="footer-mail fw-text-center fw-text-left@m fw-fz-20">
      <a class="footer-mail__link" href="mailto:info@datecoin.io">info@datecoin.io</a>
    </div>
  </div>
</footer>