<header class="header">
  <div class="container">
    <div class="header__inner fw-flex fw-flex-middle fw-flex-space-between">
      <div class="header__logo-wrapper fw-flex fw-flex-middle">
        <i class="icon-logo fw-mr-10 fw-mr-20@m"></i>
        <span class="header__logo-soon fw-fz-19">скоро...</span>
      </div>
      <div class="header__langs js-mobile-langs fw-text-uppercase">
        <div class="header-langs__mobile-active">RUS</div>
        <ul class="header__langs-list">
          <li class="header__langs-item">
            <a href="#" class="header__langs-link active">RUS</a>
          </li>
          <li class="header__langs-item">
            <a href="#" class="header__langs-link">ENG</a>
          </li>
          <li class="header__langs-item">
            <a href="#" class="header__langs-link">CN</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>